# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c68b8410fe48d6aa5b85e4be2253b5b63201d3a2f1b4eeb18118282b9ffa9d1ced45212425f8fe67f602a848c9508ae4ddcb5815d54fd40beaea492639999a72

test:
  secret_key_base: e4339523c425ffbd22501118eac4092028f2167d639baf7ee41adbdc1b70e21f0709e6e52a03ff324b815881066f04925f64b19a5d9bbd4840c17923dd2b62e9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
